/* style for css bar chart */


.bar {
  fill: hsl(207, 44%, 49%);
  /* cursor: crosshair; */
}

.bar:hover {
  fill: hsl(240, 59%, 40%);
  transition: all 0.2s ease-in-out;
}

.axis {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
